<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Game</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href=""><img src="logo.png" alt=""/></a>
            </div>
            <div class="nav">
                <ul>
                    <li ><a href="/games" class="header-link">Главная</a></li>
                    <li><a href="/games/collection" class="header-link">Моя коллекция</a></li>
                    <li class="active"><a href="/games/add" class="header-link">Добавить игру</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>


<div class="container">
    <h1>Add New Game</h1>
    <form method="post" th:action="@{/games/add(steamId=${steamId})}" th:object="${game}">
        <label for="title">Title:</label><br>
        <input type="text" id="title" th:field="*{title}" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" th:field="*{description}"></textarea><br><br>

        <label for="releaseDate">Release Date:</label><br>
        <input type="date" id="releaseDate" th:field="*{releaseDate}"><br><br>

        <label for="platform">Platform:</label><br>
        <input type="text" id="platform" th:field="*{platform}"><br><br>

        <label for="developer">Developer:</label><br>
        <input type="text" id="developer" th:field="*{developer}"><br><br>

        <label for="imageUrl">Image URL:</label><br>
        <input type="text" id="imageUrl" th:field="*{imageUrl}"><br><br>

        <button type="submit">Submit</button>
    </form>
    <p th:if="${error}" th:text="${error}" class="error-message"></p>
</div>

<div class="container">
    <form method="post" th:action="@{/games/load}" >
        <label for="steamId">Enter Steam Game ID:</label><br>
        <input type="number" id="steamId" name="steamId" th:value="${steamId}" required><br><br>
        <button type="submit">Search</button>
    </form>
</div>

</body>
</html>
