<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Game</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <img src="static/images/default_image.jpg" alt=""/>
            </div>
            <div class="nav">
                <ul>
                    <li ><a href="/games" class="header-link">Главная</a></li>
                    <li><a href="/games/collection" class="header-link">Моя коллекция</a></li>
                    <li class="active" th:if="${#authorization.expression('hasRole(''EDITOR'')')}" ><a href="/games/add" class="header-link">Добавить игру вручную</a></li>
                    <li th:if="${#authorization.expression('hasRole(''EDITOR'')')}" ><a href="/api/load" class="header-link">Добавить игру автоматически</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" ><a href="/users" class="header-link">Профиль</a></li>
                    <li th:unless="${#authorization.expression('isAuthenticated()')}"><a href="/login" class="header-link">Войти</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><form action="/logout" method="post"><button class="logout-button" type="submit">Выйти</button></form></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>


<div class="container">
    <h1>Add New Game</h1>
    <form method="post" th:action="@{/games/add(steamId=${steamId})}" th:object="${game}">
        <label for="title">Title:</label><br>
        <input type="text" id="title" class="input"  th:field="*{title}" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" class="comment-area" th:field="*{description}"></textarea><br><br>

        <label for="releaseDate">Release Date:</label><br>
        <input type="date" id="releaseDate" th:field="*{releaseDate}"><br><br>

        <label for="platform">Platform:</label><br>
        <input type="text" class="input" id="platform" th:field="*{platform}"><br><br>

        <label for="genres">Genres:</label><br>
        <select id="genres" th:field="*{genres}" multiple>
            <option th:each="genre : ${allGenres}"
                    th:value="${genre.id}"
                    th:text="${genre.description}"
                    th:selected="${selectedGenres.contains(genre.id)}"></option>
        </select><br><br>


        <label for="developer">Developer:</label><br>
        <input type="text" id="developer" class="input"   th:field="*{developer}"><br><br>

        <label for="imageUrl">Image URL:</label><br>
        <input type="text" id="imageUrl" class="input"  th:field="*{imageUrl}"><br><br>

        <button type="submit">Submit</button>
    </form>
    <p th:if="${error}" th:text="${error}" class="error-message"></p>
</div>

<div class="container">
    <form method="post" th:action="@{/games/load}" >
        <label for="steamId">Enter Steam Game ID:</label><br>
        <input type="number" id="steamId" name="steamId" class="input"  th:value="${steamId}" required><br><br>
        <button type="submit">Search</button>
    </form>
</div>

</body>
</html>
