<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Game</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<header>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <img src="static/images/default_image.jpg" alt=""/>
            </div>
            <div class="nav">
                <ul>
                    <li ><a href="/games" class="header-link">Главная</a></li>
                    <li><a href="/games/collection" class="header-link">Моя коллекция</a></li>
                    <li th:if="${#authorization.expression('hasRole(''EDITOR'')')}" ><a href="/games/add" class="header-link">Добавить игру вручную</a></li>
                    <li th:if="${#authorization.expression('hasRole(''EDITOR'')')}" ><a href="/api/load" class="header-link">Добавить игру автоматически</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" ><a href="/users" class="header-link">Профиль</a></li>
                    <li th:unless="${#authorization.expression('isAuthenticated()')}"><a href="/login" class="header-link">Войти</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><form  action="/logout" method="post"><button class="logout-button" type="submit">Выйти</button></form></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
<body>
<div class="container">
    <h1>Edit Game</h1>
    <form method="post" th:action="@{/games/{id}/edit(id=${game.gameId}, steamId=${steamId})}" th:object="${game}">
        <label for="title">Title:</label><br>
        <input type="text" id="title" class="input" th:field="*{title}" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" class="comment-area" th:field="*{description}"></textarea><br><br>

        <label for="releaseDate">Release Date:</label><br>
        <input type="date" class="date-input" id="releaseDate" th:field="*{releaseDate}"><br><br>

        <label for="platform">Platform:</label><br>
        <input type="text" class="input" id="platform" th:field="*{platform}"><br><br>

        <label for="genres">Genres:</label><br>
        <select id="genres" class="genres-input" th:field="*{genres}" multiple>
            <option th:each="genre : ${allGenres}"
                    th:value="${genre.id}"
                    th:text="${genre.description}"
                    th:selected="${selectedGenres.contains(genre.id)}"></option>
        </select><br><br>

        <label for="developer">Developer:</label><br>
        <input type="text" id="developer" class="input" th:field="*{developer}"><br><br>

         <label for="imageUrl">Image URL:</label><br>
        <input type="text" id="imageUrl" class="input" th:field="*{imageUrl}"><br><br>

        <button type="submit" class="button">Submit</button>
    </form>
    <p th:if="${error}" th:text="${error}" class="error-message"></p>
</div>

<div class="container">
    <form method="post" th:action="@{/games/{id}/edit/load(id=${game.gameId})}" >
        <label for="steamId">Enter Steam Game ID:</label><br>
        <input type="number" id="steamId" name="steamId" class="input" th:value="${steamId}" required><br><br>

        <label><input type="checkbox" name="useTitle" value="true" checked> Use Steam Title</label><br>
        <label><input type="checkbox" name="useDescription" value="true"> Use Steam Description</label><br>
        <label><input type="checkbox" name="useReleaseDate" value="true"> Use Steam Release Date</label><br>
        <label><input type="checkbox" name="usePlatform" value="true"> Use Steam Platform</label><br>
        <label><input type="checkbox" name="useDeveloper" value="true"> Use Steam Developer</label><br>
        <label><input type="checkbox" name="useImageUrl" value="true"> Use Steam Image URL</label><br><br>

        <button type="submit" class="button">Search</button>
    </form>
</div>

<div class="container">
    <div th:if="${game.steamId != null}">
        <form method="post" th:action="@{/games/{id}/load-steam-reviews(id=${game.gameId})}">
            <button type="submit" class="button">Load Steam Reviews</button>
        </form>
    </div>
    <div th:unless="${game.steamId != null}">
        <p>This game is not linked to Steam. Try to load some information using form above</p>
    </div>
</div>

<div class="container">
        <form method="post" th:action="@{/games/{id}/delete(id=${game.gameId})}">
            <button type="submit" class="button-red">Delete game</button>
        </form>

</div>


</body>
</html>
