<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Game</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Edit Game</h1>
    <form method="post" th:action="@{/games/{id}/edit(id=${game.gameId}, steamId=${steamId})}" th:object="${game}">
        <label for="title">Title:</label><br>
        <input type="text" id="title" th:field="*{title}" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" th:field="*{description}"></textarea><br><br>

        <label for="releaseDate">Release Date:</label><br>
        <input type="date" id="releaseDate" th:field="*{releaseDate}"><br><br>

        <label for="platform">Platform:</label><br>
        <input type="text" id="platform" th:field="*{platform}"><br><br>

        <label for="genres">Genres:</label><br>
        <select id="genres" th:field="*{genres}" multiple>
            <option th:each="genre : ${allGenres}"
                    th:value="${genre.id}"
                    th:text="${genre.description}"
                    th:selected="${selectedGenres.contains(genre.id)}"></option>
        </select><br><br>

        <label for="developer">Developer:</label><br>
        <input type="text" id="developer" th:field="*{developer}"><br><br>

         <label for="imageUrl">Image URL:</label><br>
        <input type="text" id="imageUrl" th:field="*{imageUrl}"><br><br>

        <button type="submit">Submit</button>
    </form>
    <p th:if="${error}" th:text="${error}" class="error-message"></p>
</div>

<div class="container">
    <form method="post" th:action="@{/games/{id}/edit/load(id=${game.gameId})}" >
        <label for="steamId">Enter Steam Game ID:</label><br>
        <input type="number" id="steamId" name="steamId" th:value="${steamId}" required><br><br>

        <label><input type="checkbox" name="useTitle" value="true" checked> Use Steam Title</label><br>
        <label><input type="checkbox" name="useDescription" value="true"> Use Steam Description</label><br>
        <label><input type="checkbox" name="useReleaseDate" value="true"> Use Steam Release Date</label><br>
        <label><input type="checkbox" name="usePlatform" value="true"> Use Steam Platform</label><br>
        <label><input type="checkbox" name="useDeveloper" value="true"> Use Steam Developer</label><br>
        <label><input type="checkbox" name="useImageUrl" value="true"> Use Steam Image URL</label><br><br>

        <button type="submit">Search</button>
    </form>
</div>

<div class="container">
    <div th:if="${game.steamId != null}">
        <form method="post" th:action="@{/games/{id}/load-steam-reviews(id=${game.gameId})}">
            <button type="submit">Load Steam Reviews</button>
        </form>
    </div>
    <div th:unless="${game.steamId != null}">
        <p>This game is not linked to Steam. Try to load some information using form above</p>
    </div>
</div>


</body>
</html>
