<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href=""><img src="logo.png" alt=""/></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/games" class="header-link">Главная</a></li>
                    <li><a href="/games/collection" class="header-link">Моя коллекция</a></li>
                    <li><a href="/games/add" class="header-link">Добавить игру</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
<div>
    <h1>Error</h1>
    <p th:text="${error}">An unexpected error occurred. Please try again later.</p>
</div>
</body>
</html>
