<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Detail</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
 <!--   <div th:if="${#authorization.expression('hasRole(''editor'')')}">
        <a th:href="@{'/games/' + ${game.gameId} + '/edit'}">Edit</a>
    </div>-->
    <h1 th:text="${game.title}">Game Title</h1> <a th:href="@{'/games/' + ${game.gameId} + '/edit'}">Edit</a>
    <p>Ratings: <span th:text="${averageRating}"></span></p>
    <p>Description: <span th:text="${game.description}"></span></p>
    <p>Release Date: <span th:text="${#dates.format(game.releaseDate, 'dd-MM-yyyy')}"></span></p>
    <p>Platform: <span th:text="${game.platform}"></span></p>
    <p>Developer: <span th:text="${game.developer}"></span></p>
    <img th:src="@{${game.imageUrl}}" alt="Game Image">

    <h2>Reviews:</h2>
    <div class="review-container" th:each="review : ${reviews}">
        <div class="review-item">
            <p class="review-user" th:text="${review.userId}"></p>
            <p class="review-date" th:text="${#dates.format(review.date, 'dd-MM-yyyy')}"></p>
            <p class="review-comment" th:text="${review.comment}"></p>
        </div>
    </div>


</div>
</body>
</html>
