<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>List of Games</h1>
    <ul class="game-list">
        <li th:each="game : ${games}" class="game-item">
            <div class="game-title">
                <a th:href="@{'/games/' + ${game.gameId}}" th:text="${game.title}"></a>
            </div>
            <div class="game-developer" th:text="${game.developer}">Game dev</div>
            <div class="game-platform-and-date" th:text="${#dates.format(game.releaseDate, 'dd-MM-yyyy')}
            + ' • ' + ${game.platform}">Release Date & Platform</div>
            <div class="game-description" th:text="${game.description}">Game Description</div>
            <img class="game-image" th:src="@{${game.imageUrl}}" alt="">

        </li>
    </ul>
</div>
</body>
</html>
