<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Detail</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href=""><img src="../static/images/logo.png" alt=""/></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/games" class="header-link">Главная</a></li>
                    <li><a href="/games/collection" class="header-link">Моя коллекция</a></li>
                    <li><a href="/games/add" class="header-link">Добавить игру</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>


<div class="container">
 <!--   <div th:if="${#authorization.expression('hasRole(''editor'')')}">
        <a th:href="@{'/games/' + ${game.gameId} + '/edit'}">Edit</a>
    </div>-->
    <div class="header-container">
        <h1 th:text="${game.title}">Game Title</h1>
        <span th:if="${#authorization.expression('hasRole(''EDITOR'')')}">
        <a th:href="@{'/games/' + ${game.gameId} + '/edit'}">Edit</a>
    </span>
        <span><a th:href="@{'/games/' + ${game.gameId} + '/save-to-collection'}">Save to collection</a></span>
    </div>

    <p>Ratings: <span th:text="${averageRating}"></span></p>
    <div class="rate-game-container">
        <form method="post" th:action="@{'/games/' + ${game.gameId} + '/rate'}">
            <label for="rating">Rate the game (1-10):</label>
            <input class="input-rating" type="number" id="rating" name="rating" min="1" max="10" required>
            <button class="button" type="submit">Submit Rating</button>
        </form>
    </div>

    <p>Description: <span th:text="${game.description}"></span></p>
    <p>Release Date: <span th:text="${#dates.format(game.releaseDate, 'dd-MM-yyyy')}"></span></p>
    <p>Platform: <span th:text="${game.platform}"></span></p>
    <p>Genres: <span th:text="${game.genres}"></span></p>
    <p>Developer: <span th:text="${game.developer}"></span></p>
    <p>SteamId:
        <span th:if="${game.steamId != null}" th:text="${game.steamId}"></span>
        <span th:if="${game.steamId == null}">not related with steam</span>
    </p>

    <img th:src="@{${game.imageUrl}}" alt="Game Image">

    <h2>Reviews:</h2>
    <form method="post" th:action="@{'/games/' + ${game.gameId} + '/add-review'}">
        <textarea name="comment" placeholder="Leave your review here..." required></textarea> <br>
        <button type="submit" class="button" >Submit</button>
    </form>
     <!--<a th:href="@{'/games/' + ${game.gameId} + '/'}">Add review</a>-->
    <div class="review-container" th:each="review : ${reviews}">
        <div class="review-item">
            <p class="review-user" th:text="${review.getUsername()}"></p>
            <p class="review-date" th:text="${#dates.format(review.date, 'dd-MM-yyyy')}"></p>
            <p class="review-comment" th:text="${review.comment}"></p>
        </div>
    </div>


</div>
</body>
</html>
